*~
Makefile
/aclocal.m4
/Bootstrap.*/
/config.log
/config.status
/configure
/build-aux/
/autom4te*.cache/
/sources/bootstrap1-registry/
/sources/corba/scepter/front-end/file/parser.dylan
/sources/corba/orb/iop-protocol/
/sources/corba/orb/ir-protocol/
/sources/corba/orb/ir-stubs/
/sources/corba/services/naming/naming-protocol/
/sources/corba/services/naming/naming-skeletons/
/sources/corba/services/naming/naming-stubs/
/sources/app/llvm-tablegen/tablegen-parser.dylan
/sources/lib/llvm/llvm-asm-parser.dylan
/sources/dfmc/c-run-time/*.o
