*~
*.pyc
Makefile
/aclocal.m4
/Bootstrap.*/
/config.log
/config.status
/configure
/build-aux/
/autom4te*.cache/
/sources/bootstrap1-registry/
/sources/corba/scepter/front-end/file/parser.dylan
/sources/corba/orb/iop-protocol/
/sources/corba/orb/ir-protocol/
/sources/corba/orb/ir-stubs/
/sources/corba/services/naming/naming-protocol/
/sources/corba/services/naming/naming-skeletons/
/sources/corba/services/naming/naming-stubs/
/sources/app/llvm-tablegen/tablegen-parser.dylan
/sources/jamfiles/config.jam
/sources/lib/llvm/llvm-asm-parser.dylan
/sources/lib/run-time/collector.obj
/sources/lib/run-time/dylan-plinth.lib
/sources/lib/run-time/dylan-support.lib
/sources/lib/run-time/heap-*.obj
/sources/lib/run-time/mpsiowin32.obj
/sources/lib/run-time/obj-*
/sources/lib/run-time/pentium-run-time.lib
/sources/lib/run-time/plinth.obj
/sources/lib/run-time/windows-*.obj
/sources/runtime-manager/debugger-nub/protocol/
/sources/runtime-manager/debugger-nub/skeletons/
/sources/runtime-manager/debugger-nub/stubs/
/sources/runtime-manager/debugger-nub/x86-win32/devnub.lib
/sources/runtime-manager/debugger-nub/x86-win32/*.obj
