[submodule "documentation/sphinx-extensions"]
	path = documentation/sphinx-extensions
	url = git://github.com/dylan-lang/sphinx-extensions.git
[submodule "sources/lib/collection-extensions"]
	path = sources/lib/collection-extensions
	url = git://github.com/dylan-lang/collection-extensions.git
[submodule "sources/qa/testworks"]
	path = sources/qa/testworks
	url = git://github.com/dylan-lang/testworks.git
[submodule "sources/lib/command-line-parser"]
	path = sources/lib/command-line-parser
	url = git://github.com/dylan-lang/command-line-parser.git
[submodule "sources/lib/regular-expressions"]
	path = sources/lib/regular-expressions
	url = git://github.com/dylan-lang/regular-expressions.git
[submodule "sources/lib/strings"]
	path = sources/lib/strings
	url = git://github.com/dylan-lang/strings.git
[submodule "sources/lib/logging"]
	path = sources/lib/logging
	url = git://github.com/dylan-lang/logging.git
[submodule "sources/lib/hash-algorithms"]
	path = sources/lib/hash-algorithms
	url = git://github.com/dylan-lang/hash-algorithms.git
