*~
Makefile
/aclocal.m4
/Bootstrap.*/
/config.log
/config.status
/configure
/build-aux/
/autom4te*.cache/
/sources/bootstrap1-registry/
/sources/corba/scepter/front-end/file/parser.dylan
/sources/corba/orb/iop-protocol/
/sources/corba/orb/ir-protocol/
/sources/corba/orb/ir-stubs/
/sources/corba/services/naming/naming-protocol/
/sources/corba/services/naming/naming-skeletons/
/sources/corba/services/naming/naming-stubs/
/sources/dfmc/c-run-time/*.o
/sources/app/llvm-tablegen/tablegen-parser.dylan
/sources/jamfiles/config.jam
/sources/lib/llvm/llvm-asm-parser.dylan
/sources/lib/run-time/pentium-linux/linux-spy-interfaces.o
/sources/lib/run-time/pentium-linux/linux-support.o
/sources/lib/run-time/pentium-linux/x86-linux-collector.o
/sources/lib/run-time/pentium-linux/x86-linux-threads-primitives.o
/sources/lib/run-time/pentium-win32/dylan-plinth.lib
/sources/lib/run-time/pentium-win32/dylan-support.lib
/sources/lib/run-time/pentium-win32/minvcrt.exp
/sources/lib/run-time/pentium-win32/minvcrt.lib
/sources/lib/run-time/pentium-win32/pentium-run-time.lib
/sources/runtime-manager/debugger-nub/protocol/
/sources/runtime-manager/debugger-nub/skeletons/
/sources/runtime-manager/debugger-nub/stubs/
