// Open Dylan icons
//

// Program and document icons
// We use these stupid names to ensure these are the first icons
// to be picked up by the installer
//
AAA ICON DISCARDABLE "bitmaps/dylan-app.ico"
AAB ICON DISCARDABLE "bitmaps/dylan-source.ico"
AAC ICON DISCARDABLE "bitmaps/dylan-project.ico"
AAD ICON DISCARDABLE "bitmaps/dylan-database.ico"
AAE ICON DISCARDABLE "bitmaps/lid-file.ico"
AAF ICON DISCARDABLE "bitmaps/spec-file.ico"
AAG ICON DISCARDABLE "bitmaps/lp-spec-file.ico"

// Tool bar icons
//
BACK            ICON DISCARDABLE "bitmaps/back.ico"
BUILD           ICON DISCARDABLE "bitmaps/build.ico"
CLONE           ICON DISCARDABLE "bitmaps/clone.ico"
COMPILE         ICON DISCARDABLE "bitmaps/compile.ico"
COMPILEALL      ICON DISCARDABLE "bitmaps/compile-all.ico"
COMPILECHANGES  ICON DISCARDABLE "bitmaps/compile-changes.ico"
COPY            ICON DISCARDABLE "bitmaps/copy.ico"
CUT             ICON DISCARDABLE "bitmaps/cut.ico"
DEBUG           ICON DISCARDABLE "bitmaps/debug.ico"
EDITSOURCE      ICON DISCARDABLE "bitmaps/edit-source.ico"
EXAMPLES        ICON DISCARDABLE "bitmaps/examples.ico"
FIND            ICON DISCARDABLE "bitmaps/find.ico"
FINDNEXT        ICON DISCARDABLE "bitmaps/find-next.ico"
FINDPREVIOUS    ICON DISCARDABLE "bitmaps/find-previous.ico"
FORWARD         ICON DISCARDABLE "bitmaps/forward.ico"
HELP            ICON DISCARDABLE "bitmaps/help.ico"
HOME            ICON DISCARDABLE "bitmaps/home.ico"
INTERACT        ICON DISCARDABLE "bitmaps/interact.ico"
LOAD            ICON DISCARDABLE "bitmaps/load.ico"
LINK            ICON DISCARDABLE "bitmaps/link.ico"
NEW             ICON DISCARDABLE "bitmaps/new.ico"
NEWTEXT         ICON DISCARDABLE "bitmaps/new-text.ico"
NEWPROJECT      ICON DISCARDABLE "bitmaps/new-project.ico"
OPEN            ICON DISCARDABLE "bitmaps/open.ico"
PAGESETUP       ICON DISCARDABLE "bitmaps/page-setup.ico"
PASTE           ICON DISCARDABLE "bitmaps/paste.ico"
PAUSE           ICON DISCARDABLE "bitmaps/pause.ico"
PLAY            ICON DISCARDABLE "bitmaps/play.ico"
PLAYGROUND      ICON DISCARDABLE "bitmaps/playground.ico"
PRINT           ICON DISCARDABLE "bitmaps/print.ico"
REDO            ICON DISCARDABLE "bitmaps/redo.ico"
REPLACE         ICON DISCARDABLE "bitmaps/replace.ico"
RUN             ICON DISCARDABLE "bitmaps/run.ico"
SAVE            ICON DISCARDABLE "bitmaps/save.ico"
SAVEALL         ICON DISCARDABLE "bitmaps/save-all.ico"
STOP            ICON DISCARDABLE "bitmaps/stop.ico"
TUTORIAL        ICON DISCARDABLE "bitmaps/tutorial.ico"
UNDO            ICON DISCARDABLE "bitmaps/undo.ico"

// Tree control icons
//
APPLICATION    ICON DISCARDABLE "bitmaps/application.ico"
CLASS          ICON DISCARDABLE "bitmaps/class.ico"
CLIENTS        ICON DISCARDABLE "bitmaps/clients-folder.ico"
CONSTANT       ICON DISCARDABLE "bitmaps/constant.ico"
DEFAULT        ICON DISCARDABLE "bitmaps/default.ico"
DEFINITION     ICON DISCARDABLE "bitmaps/definition.ico"
DYLANFILE      ICON DISCARDABLE "bitmaps/dylan-source.ico"
CANONICAL      ICON DISCARDABLE "bitmaps/canonical-source.ico"
CURRENT        ICON DISCARDABLE "bitmaps/current-source.ico"
ERROR          ICON DISCARDABLE "bitmaps/error.ico"
FOREIGN        ICON DISCARDABLE "bitmaps/foreign.ico"
FUNCTION       ICON DISCARDABLE "bitmaps/function.ico"
GENERIC        ICON DISCARDABLE "bitmaps/generic.ico"
LIBRARY        ICON DISCARDABLE "bitmaps/library.ico"
MACRODEF       ICON DISCARDABLE "bitmaps/macro-def.ico"
METHOD         ICON DISCARDABLE "bitmaps/method.ico"
MODULE         ICON DISCARDABLE "bitmaps/module.ico"
OBJECT         ICON DISCARDABLE "bitmaps/object.ico"
PROFILE        ICON DISCARDABLE "bitmaps/profile.ico"
PROJECT        ICON DISCARDABLE "bitmaps/dylan-project.ico"
RESTART        ICON DISCARDABLE "bitmaps/restart.ico"
SERIOUSWARNING ICON DISCARDABLE "bitmaps/serious-warning.ico"
SLOT           ICON DISCARDABLE "bitmaps/slot.ico"
STACKFRAME     ICON DISCARDABLE "bitmaps/stack-frame.ico"
TEXTFILE       ICON DISCARDABLE "bitmaps/text-file.ico"
THREADS        ICON DISCARDABLE "bitmaps/threads.ico"
UNBOUND        ICON DISCARDABLE "bitmaps/unbound.ico"
USES           ICON DISCARDABLE "bitmaps/uses-folder.ico"
VARIABLE       ICON DISCARDABLE "bitmaps/variable.ico"
WARNING        ICON DISCARDABLE "bitmaps/warning.ico"

// Debugger icons
//
STEPOVER      ICON DISCARDABLE "bitmaps/step-over.ico"
STEPINTO      ICON DISCARDABLE "bitmaps/step-into.ico"
STEPOUT       ICON DISCARDABLE "bitmaps/step-out.ico"
TOPOFSTACK    ICON DISCARDABLE "bitmaps/top-of-stack.ico"
BOTTOMOFSTACK ICON DISCARDABLE "bitmaps/bottom-of-stack.ico"
UPSTACK       ICON DISCARDABLE "bitmaps/up-stack.ico"
DOWNSTACK     ICON DISCARDABLE "bitmaps/down-stack.ico"

// Deuce/Debugger icons
//
POTENTIALBREAKPOINT ICON DISCARDABLE "bitmaps/potential-break.ico"
ENABLEDBREAKPOINT   ICON DISCARDABLE "bitmaps/enabled-break.ico"
DISABLEDBREAKPOINT  ICON DISCARDABLE "bitmaps/disabled-break.ico"
STEPBREAKPOINT      ICON DISCARDABLE "bitmaps/step-break.ico"
TESTBREAKPOINT      ICON DISCARDABLE "bitmaps/test-break.ico"
ENABLEDTRACEPOINT   ICON DISCARDABLE "bitmaps/enabled-trace.ico"
DISABLEDTRACEPOINT  ICON DISCARDABLE "bitmaps/disabled-trace.ico"
PROFILEPOINT        ICON DISCARDABLE "bitmaps/profile-point.ico"
CURRENTLOCATION     ICON DISCARDABLE "bitmaps/current-location.ico"
PROMPT              ICON DISCARDABLE "bitmaps/prompt.ico"
VALUES              ICON DISCARDABLE "bitmaps/values.ico"

// Frame icons
BROWSER         ICON DISCARDABLE "bitmaps/browser.ico"
DEBUGGER        ICON DISCARDABLE "bitmaps/debugger.ico"

// Internal error
IERROR          ICON DISCARDABLE "bitmaps/ierror.ico"

// Check mark
CHECKMARK       ICON DISCARDABLE "bitmaps/check-mark.ico"
UNCHECKMARK     ICON DISCARDABLE "bitmaps/uncheck-mark.ico"

// Bitmaps
ABOUT           BITMAP DISCARDABLE "bitmaps/about.bmp"
SPLASHSCREEN    BITMAP DISCARDABLE "bitmaps/splash-screen.bmp"
WIZARD          BITMAP DISCARDABLE "bitmaps/wizard.bmp"
