#
# Build HTML documentation on Pull Request
#

name: Build documentation

on:
  push:
    # all branches
    paths:
      - 'documentation/**/*.rst'
      - 'documentation/**/conf.py'
  pull_request:
    paths:
      - 'documentation/**/*.rst'
      - 'documentation/**/conf.py'

  # This enables the Run Workflow button on the Actions tab.
  workflow_dispatch:

jobs:
  build-documentation:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Build documentation
        uses: maus007/docker-run-action-fork@v1
        with:
          image: ghcr.io/fraya/dylan-docs
          options: -v ${{ github.workspace }}/documentation:/docs
          run: make html

      - name: Upload html artifact
        uses: actions/upload-artifact@v6
        with:
          name: opendylan-doc-html
          path: documentation/_build/html/
