#
# Build HTML documentation on Pull Request
#

name: Build documentation

on:
  push:
    # all branches
    paths:
      - 'documentation/**/*.rst'
      - 'documentation/**/conf.py'
  pull_request:
    paths:
      - 'documentation/**/*.rst'
      - 'documentation/**/conf.py'

  # This enables the Run Workflow button on the Actions tab.
  workflow_dispatch:

jobs:
  build-documentation:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Check links
        uses: addnab/docker-run-action@v3
        continue-on-error: true
        with:
          image: ghcr.io/fraya/dylan-docs
          options: -v ${{ github.workspace }}/documentation:/docs
          run: SPHINXOPTS='--quiet' make linkcheck

      - name: Build documentation
        uses: addnab/docker-run-action@v3
        with:
          image: ghcr.io/fraya/dylan-docs
          options: -v ${{ github.workspace }}/documentation:/docs
          run: make html

      - name: Upload html artifact
        uses: actions/upload-artifact@v4
        with:
          name: opendylan-doc-html
          path: documentation/build/html/
