name: libraries-test-suite

on:
  push:
    # all branches
  pull_request:
    branches:
      - main
      - master

  # This enables the Run Workflow button on the Actions tab.
  workflow_dispatch:

jobs:
  libraries-test-suite-ubuntu:
    runs-on: ubuntu-latest
    steps:

      - uses: dylan-lang/install-opendylan@v1

      - name: Build libraries-test-suite-app
        run: |
          # We want to use the registry in the sources directory...
          cd opendylan/sources
          ../../dylan-compiler -build -jobs 3 libraries-test-suite-app

      - name: Run libraries-test-suite-app
        run: |
          opendylan/sources/_build/bin/libraries-test-suite-app
