body {
  padding-top: 50px;
}
.navbar .logo {
  float: left;
  padding: 5px 5px;
  height: 30px;
  width: 32px;
}
.literal {
  background-color:#f5f5f5;
  padding:0 3px 2px;
  font-family:Monaco, Andale Mono, Courier New, monospace;
  font-size:12px;
  border:1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
footer.navbar {
  margin-top: 20px;
  margin-bottom: 0;
}
.section h2 {
  padding-top: 50px;
  margin-top: 0px;
}
/* Make the headerlink less obnoxiously visible */
a.headerlink {
  color: silver;
}
#code-carousel {
  margin: 10px 0;
}
#code-carousel .carousel-inner {
  margin: 0 70px;
  width: auto;
}
#code-carousel .carousel-indicators {
  margin-right: 70px;
}
#code-carousel .carousel-indicators li {
  background-color: #EFEFEF;
}
#code-carousel .carousel-indicators li.active {
  background-color: #D0D0D0;
}
#code-carousel pre {
  height: 29em;
  padding-top: 20px;
}

/* Responsive Docs
-------------------------------------------------- */
@media (max-width: 480px) {
  /* Reduce padding above body */
  body {
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  .bs-docs-sidebar .affix {
    position: relative;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}

